body{
    margin:0;
}

nav{
    background-color: #000000;
    height: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 16pt;    
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

